@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

#container{
    width: 50%;
}
.home{
    display: flex;
    justify-content: center;
    background-color: #c2edf3;
    height: 100vh;
}
.new-blog-head{
    background-color: #c2edf3;
    height: 100vh; 
}
.head-row h1{
    text-align: center;
    /* margin: 15px 0; */
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
}
.head-row{
    margin-top: 4%;
    align-items: center;
    background-color: rgb(0, 162, 255);
    border-radius: 12px;
    padding: 1% 0;
}
.content-head{
    max-height: 83vh;
    overflow-y: scroll;
    
}
.content{
	/* width: 500px; */
	max-width: 60vw;
	height: 200px;
	background: chartreuse;
	margin: 20px 0;
	background-color: #fff;
	 box-shadow: 0px 1px 2px rgba(50, 50, 50, .1), 
		0px 2px 4px rgba(60, 60, 60, 0.1);
	border-radius: 5px;
	padding: 30px;
    position: relative;
}
.content .delete-form{
    position: absolute;
    top: 0px;
    right: 5px;
    margin-top: 5px;
}
.content .patch-form{
    position: absolute;
    top: 0px;
    right: 50px;
    margin-top: 5px;
}
a .head-button,.content form button{
    background-color: white;
    color: black;
    border: 0px;
    font-size: 1.2rem;
}
a .head-button:hover,.content form button:hover{
    background-color: #c2edf3;
    color: black;
}

a .head-button{
    width: 200px;
    border-radius: 12px;
}
.content h2{
	font-weight: 800;
	margin: 10px 0;
}
.content p{
	margin: 10px 0;
	color: rgb(82, 80, 80);
	font-size: 1.1rem;
}
.content h4{
	font-weight: 90;
	margin: 15px 0;
	font-size: 15px;
}




.new-blog-form{
    padding-top: 8%;
}
.form-head{
    text-align: center;
    background-color: rgb(0, 162, 255);
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 1% 0;
    width: 50%;
    margin: auto;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
}
.form-parent{
    background-color: #ffffff;
    padding: 3%;
    max-width: 50% !important;
    /* text-align: center; */
}
.form-item{
    width: 50%;
    margin: 10px auto;
}
.form-item label{
    font-size: 1.3rem;
}
.form-item button{
    background-color: white;
    color: black;
}
.form-item button:hover{
    background-color: rgb(0, 162, 255);
}